:root {
  /* Primary */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  /* Neutral */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: var(--cream);
}

.card{
    width: min(100%, 21.5rem);
    background-color: var(--white);
    border-radius: 0.6rem;
    overflow: hidden;
}

.content{
    padding: clamp(1.5rem, 3vw, 1.7rem);
}
 

picture img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.6;
}

.category{
    font-size: 0.875rem;
    color: var(--grey);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.price{
    display: flex;
    gap: 1rem;
    align-items: center;
     margin-block: clamp(1rem, 2vw, 1.3rem);
}

.current-price{
    color: var(--green-500);
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: clamp(1.8rem, 4vw, 2rem);
}

.old-price{
    font-size: 0.875rem;
    color: var(--grey);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 0.6rem;
    width: 100%;
    padding: clamp(0.8rem, 2vw, 1rem);
    border: none;
    border-radius: 0.6rem;
    background-color: var(--green-500);
    color: var(--white);
    cursor: pointer;
}

h1{
    font-family: "Fraunces", serif;
    font-size: clamp(1.8rem, 4vw, 2rem);
    margin-block: clamp(0.6rem, 2vw, 0.9rem);
    line-height: 1.1;
    color: var(--black);
}



@media (min-width: 35rem) {
    .card {
        width: min(90%, 35rem);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

button:hover{
    background-color: var(--green-700);
}

button:focus-visible {
  background-color: var(--green-700);
}

picture img{
    height: 100%;
    object-fit: cover;
}

}